.section-work .intro-h {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-left: 165px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.section-work .div-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
    margin-bottom: 64px;
}

.section-work .div-item-one {
    width: 285px;
    margin: 0 auto;
}

.section-work .div-item-one h3 {
    width: 255px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.section-work .div-item-one p {
    width: 285px;
    height: 138px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}


.section-work .div-item-two {
    width: 285px;
    margin: 0 auto;
}

.section-work .div-item-two h3 {
    width: 255px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.section-work .div-item-two p {
    width: 285px;
    height: 138px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.section-work .div-item-three {
    width: 285px;
    margin: 0 auto;
}

.section-work .div-item-three h3 {
    width: 255px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.section-work .div-item-three p {
    width: 285px;
    height: 138px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.section-work .intro-link {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    text-decoration: none;
    padding: 15px 30px;
    margin-left: 165px;
    margin-bottom: 200px;
    background-color: #0E8784;
    border-radius: 6px;
}

.section-work .intro-link:hover {
    background-color: #66D2CF;
}

.section-work .intro-link:active {
    background-color: #E2DEDB;
}

.site-main__final-section .container {
    margin-top: 170px;
}

.final-section__heading {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.final-section__flex-div {
    display: flex;
    margin-top: 92px;
    align-items: center;
}

.flex-div__heading {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.flex-div__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.final-section__div-one {
    margin-right: 150px;
}

.final-section__div-two {
    margin-right: 240px;
}